@use "../../../scss/mixins";
@use "../../../scss/vars";
@use '../../../scss/reset';

.section2{
    @include mixins.Flex(row, center, center, 0);
    padding: 100px 96px;
    margin-top: 216px;
    background-color: vars.$secondBack-color;
    &-container{
        @include mixins.Flex(column, flex-start, flex-start, 122px);
        &__textbox{
            @include mixins.Flex(column, flex-start, flex-start, 60px);
            &-title{
                @include mixins.Tinos(80px,700,110%);
                color: vars.$second-color;
              
                &--orange{
                    color: vars.$third-color;
                }
            }
            &-text{
                @include mixins.Poppins(20px,400,200%);
                color: vars.$second-color;
            }
        }
        &__btn{
            background-color: vars.$third-color;
            padding: 15px 35px;
        }
    }
}

@media screen and (max-width: 375px) {
    .section2{
        @include mixins.Flex(column-reverse, flex-start, flex-start, 35px);
        margin-top: 0px;
        padding: 40px 25px;
        &-container{
            @include mixins.Flex(column, flex-start, flex-start, 53px);
            &__textbox{
                @include mixins.Flex(column, flex-start, flex-start, 21px);
                &-title{
                    @include mixins.Tinos(35px,700,110%);
                }
                &-text{
                    @include mixins.Poppins(12px,400,200%);
                    width: 95%;
                }
            }
            &__btn{
                padding: 14px 34px;
                @include mixins.Poppins(14px, 600, 200%);
            }
        }
    }
    
}