@use "../../../scss/mixins";
@use "../../../scss/vars";
@use "../../../scss/reset";


.section2-cancelConfirm{
    @include mixins.Flex(column, center, flex-end, 0px);
    padding: 100px 60px;
    .section2-container{
        @include mixins.Flex(row,flex-start, center, 32px);
        padding: 50px 63px;
        background-color: vars.$first-color;
        width: 100%;
        &__wrap{
            @include mixins.Flex(column, center, flex-start, 32px);
            &-title{
                @include mixins.Poppins(25px,400,38px);
                color: vars.$second-color;
            }
            &-box{
                @include mixins.Flex(row, flex-start, center, 16px);
                &-text{
                    @include mixins.Poppins(20px,400,110%);
                    color: vars.$second-color;
                }
            }
        }
    }
    &__btn{
        padding: 15px 35px;
        border-radius: 20px;
        @include mixins.Poppins(20px,400,200%);
        background-color: vars.$CancelConfirm-colorBtn;
        &-link {
            color: vars.$first-color;
        }
    }
}


@media screen and (max-width: 375px) {
    .section2-cancelConfirm{
        @include mixins.Flex(column, center, center, 0px);
        padding: 50px 15px;
        .section2-container{
            @include mixins.Flex(column, center, center, 20px);
            padding: 50px 15px;
            &__wrap{
                @include mixins.Flex(column, center, flex-start, 22px);
                &-title{
                    @include mixins.Poppins(14px,400,21px);
                    color: vars.$second-color;
                }
                &-box{
                    @include mixins.Flex(row, center, center, 17px);
                    &-text{
                        @include mixins.Poppins(12px,400,18px);
                        color: vars.$second-color;
                    }
                }
            }
        }
        &__btn{
            padding: 15px 35px;
            border-radius: 20px;
            @include mixins.Poppins(20px,400,200%);
            background-color: vars.$CancelConfirm-colorBtn;
            &-link {
                color: vars.$first-color;
            }
        }
    }
}