@use "../../scss/mixins";
@use "../../scss/vars";
@use "../../scss/reset";

.footer{
    @include mixins.Flex(column, flex-start, center, 120px);
    background-color: vars.$second-color;
    padding: 145px;
    .logo__link {
        color: vars.$first-color;
    }
    &-container{
        @include mixins.Flex(row, flex-start, flex-start, 66px);
       &__box{
           @include mixins.Flex(column, flex-start, flex-start, 30px);
            &-text{
                @include mixins.Poppins(20px,400,200%);
                color: vars.$first-color;
                width: 50%;
            }
            &-socials{
                @include mixins.Flex(row, flex-start, flex-start, 30px);
            }
       }
       &__box2{
            @include mixins.Flex(row, flex-start, flex-start, 70px);
            &-list{
                @include mixins.Flex(column, flex-start, flex-start, 15px);
                &-title{
                    @include mixins.Poppins(20px,600,200%);
                    color: vars.$third-color;
                }
            }
            &-link{
                @include mixins.Poppins(20px,400,200%);
                color: vars.$first-color;
            }
       }
    }
    &__text{
        @include mixins.Poppins(20px,400,200%);
        color: vars.$first-color;
    }
}

@media screen and (max-width: 375px) {
    .footer{
        @include mixins.Flex(column, center, flex-start, 60px);
        padding: 92px 25px;
        &-container{
            @include mixins.Flex(column, center, flex-start, 30px);
            &__box{
                @include mixins.Flex(column, center, flex-start, 30px);
                &-text{
                    @include mixins.Poppins(14px,400,200%);
                    width: 100%;
                }
            }
            &__box2{
                @include mixins.Flex(column, center, flex-start, 30px);
            }
        }
    }
    
}