@use "./scss/mixins";
@use "./scss/vars";
@use "./scss/reset";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    background-color: vars.$first-color;
    color: vars.$second-color;
    .button {
        @include mixins.Poppins(20px, 600, 200%);
        border-radius: 162.94px;
        color: vars.$first-color;
    }
    .logo{
        @include mixins.Flex(row, flex-start, center, 18px);
        &__link{
            @include mixins.Poppins(14px,600,1px);
            color: vars.$second-color;
            &--span{
                color: vars.$third-color;
            }
        }
    }
}