@mixin Flex($fd,$jc,$ai,$gp){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
}
@mixin Raleway($fs,$fw,$lh){
    font-family: 'Raleway', sans-serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
@mixin Tinos($fs,$fw,$lh){
    font-family: 'Tinos', serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
@mixin Poppins($fs,$fw,$lh){
    font-family: 'Poppins', sans-serif;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
