$first-color: #FFFFFF;
$second-color: #311F09;
$third-color: #FF8A00;
$fourth-color: #3FA72F;
$cart-color: #f3f1ee;
$secondBack-color: #c5ffd9;
$thirdBack-color: #FFF4E7;
$Reservation-color: #8AEAFF;
$SecondConfirm-color: #3FC66E;
$SecondConfirm-colorBtn1: #7cb1f1b2;
$SecondConfirm-colorBtn2: #eb8080af;
$CancelConfirm-colorBtn: #ff3838;
$Link-color: #0094FF;